
body {
    margin: 0;
}

.hero {
    background-image: url(assets/img/1_hero/JPG/hero_bg.jpg);
    height: 100vh;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 112px;
    width: 100%;
}

.logo {
    width: 64px;
    height: 64px;
    margin-left: 110px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-right: 110px;
}
.nav a {
    color: white;
    text-decoration: none;
    font-family: "Raleway", system-ui;
    font-size: 24px;
    margin-left: 24px;
}

.button_tel {
    background-color: #9F0908;
    padding: 8px 19px;
    border-radius: 8px;
    border: solid white;
}

.icon_phone {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 24px; 
    height: 24px;
}
    
.hero_top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.title_top {
    font-family:  "Raleway", system-ui;
    font-weight: bold;
    font-size: 96px;
    color: white;
    margin-bottom: 0;
    margin-top: 98px;

}
.subtitle {
    font-family:  "Raleway", system-ui;
    font-size: 24px;
    color: white;
}

.how_to_order {
    margin-top: 120px;
    font-family: Raleway, system-ui;
    font-size: 80px;
    font-weight: bold;
    color: #9F0908;
    display: flex;
    justify-content: center;
}

.style_text_img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.margin_left {
    margin-left: 160px;
}
.margin_right {
    margin-right: 160px;
}

.img_style {
    width: 124px;
    height: 124px;
    margin-bottom: 16px;
    margin-left: 17px;
    margin-right: 17px;
}

.text_style {
    font-size: 56px;
    font-family: Economica, system-ui ;
    text-align: center;
    margin-top: 0;
}

.our_menu {
    margin-top: 120px;
    padding-bottom: 120px;
    background-image: url("assets/img/3_section_our_menu/JPG/section_our_menu_bg.jpg");
    background-repeat: no-repeat;
}

.title_menu {
    padding-top: 120px;
    font-family: Raleway, system-ui;
    font-size: 80px;
    font-weight: bold;
    color: #9F0908;
    margin-top: 120px;
    margin-bottom: 64px;
    text-align: center;
}

.menu-container {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.menu {
    margin-left: 160px;
    margin-right: 160px;
}

.menu:nth-child(odd) > img {
    float: left;
    padding-left: 80px;
}
.menu:nth-child(even) > img {
    float: right;
    padding-right: 80px;
}
.menu:nth-child(odd) > .menu_item {
    float: left;
    margin-left: 80px;
}
.menu:nth-child(even) > .menu_item {
    float: right;
    margin-right: 80px;
}
.menu_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 352px;
    min-width: 500px;
}

.item_price {
    color: #675E54;
    font-family: "Raleway", system-ui;
    font-weight: bold;
    font-size: 32px;
}
.item {
    display: inline;
}

.price {
    float: right;
}

.menu_item > .list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu_item h2 {
    margin-top: 0;
    margin-bottom: 16px;
    font-family: Economica, system-ui;
    font-weight: bold;
    font-size: 56px;
    text-align: left;
}

.find_h1 {
    font-family: Raleway, system-ui;
    font-size: 80px;
    font-weight: bold;
    color: #9F0908;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.address {
    font-family: Raleway, system-ui;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}

.address img {
    margin-right: 18px;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: text-top;
}

footer {
    height: 144px;
    width: 100%;
}

.footer_container {
    margin-top: 8px;
    background-color: #0A141E;
    height: 144px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 160px;
    padding-right: 160px;
}

.footer_logo img{
    height: 44px;
}

.footer_icons img{
    width: 40px;
    height: 40px;
    margin-left: 8px;
}