.main{
    position:relative;
min-height:100%;
height:auto !important;
height:100%;



margin: 0 25% -4em 25%;

font-family: Verdana, Arial, Tahoma, Times New Roman;
font-size: 0.8em;
word-spacing: 1px;
line-height: 170%;
}
h2{
    margin: 0;
    padding: 0;
    padding-bottom: 16px;
    font-size: 35px;
    
}
button{
    margin-top: 16px;
}


.contact-form{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #dcdcdc;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 16px;
    border-radius: 8px;
}
.form_label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 9px;
    margin-bottom: 16px;
    font-family: inherit;
    font-size: inherit;
}
label{
    margin-bottom: 16px;
}