*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.my-body {
    margin: 0%;
    height: 100%;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.main-head {
display: flex;

} 

.logo-head {
    width: 150px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Header Styling */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
   
}

.main-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
   
    
}

.nav-links {

    display: flex;
    gap: 30px; 
    padding-top: 48px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #666;
}