#recipe-content.recipe-0 > :not(.recipe-0)  {
    display: none;
}
#recipe-content.recipe-1 > :not(.recipe-1)  {
    display: none;
}
#recipe-content.recipe-2 > :not(.recipe-2)  {
    display: none;
}
#recipe-content.recipe-3 > :not(.recipe-3)  {
    display: none;
}

#recipe-content.recipe-4 > :not(.recipe-4)  {
    display: none;
}



.recipe-1 img {
    width: 280px;
    height: unset;
    aspect-ratio: 1;
    border-radius: 12px;
}
.recipe-1 {
    display: flex;
    flex-direction: row;
}
.recipe-content-text {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    float: right;
    height: 320px;
}
.recipe-content-text p {
    padding-top: 15px;
}

.recipe-2 img {
    width: 280px;
    height: unset;
    aspect-ratio: 1;
    border-radius: 12px;
}
.recipe-2 {
    display: flex;
    flex-direction: row;
}
.recipe-content-text {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    float: right;
    height: 320px;
}
.recipe-content-text p {
    padding-top: 15px;
}

.recipe-3 img {
    width: 280px;
    height: unset;
    aspect-ratio: 1;
    border-radius: 12px;
}
.recipe-3 {
    display: flex;
    flex-direction: row;
}
.recipe-content-text {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    float: right;
    height: 320px;
}
.recipe-content-text p {
    padding-top: 15px;
}

.recipe-4 img {
    width: 280px;
    height: unset;
    aspect-ratio: 1;
    border-radius: 12px;
}
.recipe-4 {
    display: flex;
    flex-direction: row;
}
.recipe-content-text {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    float: right;
    height: 320px;
}
.recipe-content-text p {
    padding-top: 15px;
}






.container {
    max-width: 1200px;
    margin: 0 auto;
}

.recipe-title {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}

.recipe-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    position: static;
}

.recipe-meta {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.meta-item {
    display: flex;
    align-items: center;
    gap: 26px;
    font-size: 18px;
    background-color: #EAEAEA;
    padding: 10px 15px;
    border-radius: 10px;
    min-width: 150px;
}

.border {
    margin-top: 48px;
    margin-bottom: 12px;
    background-color: rgba(168, 165, 165, 0.2);
    height: 3px;
}

.meta-icon {
    width: 20px;
    height: 20px;
}

.portion-control {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.portion-control input {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.portion-control button {
    padding: 8px 15px;
    font-size: 18px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.portion-control button:hover {
    background-color: #218838;
}

.ingredients-section {
    margin-top: 20px;
}

.ingredients-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.ingredients-text {
    font-size: 18px;;
} 


.ingredient-item:nth-child(even) {
    background-color: #FFFFFF;
}

.ingredient-item:nth-child(odd) {
    background-color: #EAEAEA;
}

.ingredient-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    justify-content: flex-end;
}

.ingredient-quantity {
    color: #333;
    min-width: 60px; 
    text-align: left; 
}
.ingredient-text {
    flex-grow: 1;
    text-align: right;
}

.preparation-section {
    margin-top: 20px;
    width: 250px;

}

.meta-item-preparation {
    display: flex;
    align-items: center;
    gap: 26px;
    font-size: 16px;
    background-color: #EAEAEA;
    padding: 10px 15px;
    border-radius: 10px;
    min-width: 150px;
    margin-bottom: 10px;
}




.profile {
    display: flex;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
}

.profile-image {
    width: 90px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    display: flex;
    gap: 10px;
    align-items: center;
    display: flex;
    font-size: 18px;
    margin-bottom: 20px;
}


.profile-title {
    font-size: 20px;
    margin-bottom: 20px;

}
